@charset "utf-8";

#cabecera {background:#0099CC; font-size:xx-large; border:#00FF33; border-bottom-width:medium; text-align:center; cursor:pointer; height:100px; width:100px;}

#cuerpo {background:#00FFFF; font-family:Arial; font-size:18px;}
/* CSS Document */

